/node_modules
/public/hot
/storage/sitemap*
/public/storage
/public/excels
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/crawler_story/node_modules
/crawler_story/public